@use "components/header";
@use "components/admin_nav";
@use "components/input";

@use "pages";

@use "meta/font" as font;

* {
    box-sizing: border-box;
    margin: 0;
    
    font-family: font.$default-font;
}

html {
    max-width: 100%;
}