// Src: https://coolors.co/palette/310055-3c0663-4a0a77-5a108f-6818a5-8b2fc9-ab51e3-bd68ee-d283ff-dc97ff

$background: #fff;
$contrast1: #6818a5;
$contrast2: #ab15e3;
$contrast3: #ab51e3;
$contrast4: #bd68ee;
$contrast5: #d283ff;
$contrast6: #dc97ff;
$text: #000;
$text_inverted: #fff;
